<a href="https://colab.research.google.com/github/MichaelG-create/my-zoomcamp-2026/blob/main/SQL_en_1_heure_29_janvier_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T√©l√©chargement du dataset dans DuckDB

Lien du dataset: https://www.kaggle.com/datasets/bhanuthakurr/cleaned-contoso-dataset/data

In [2]:
%pip install duckdb-engine --quiet

   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 49.7/49.7 kB 2.0 MB/s eta 0:00:00

In [3]:
import sys
import pandas as pd
import duckdb
import matplotlib.pyplot as plt
%matplotlib inline

if 'google.colab' in sys.modules:
    !sudo apt-get update -qq > /dev/null 2>&1
    !pip install -q duckdb > /dev/null 2>&1
    !pip install -q kagglehub > /dev/null 2>&1
    !pip install -q jupysql > /dev/null 2>&1

# Load SQL extension
%load_ext sql

# Config
%config SqlMagic.autopandas = True
pd.options.display.float_format = '{:.2f}'.format

In [4]:
import duckdb
import kagglehub
from pathlib import Path
import time

# T√©l√©charger depuis Kaggle
print("üì• T√©l√©chargement du dataset Kaggle...")
start_time = time.time()
dataset_path = kagglehub.dataset_download(
    "bhanuthakurr/cleaned-contoso-dataset"
)
download_time = time.time() - start_time
print(f"‚úì Dataset t√©l√©charg√© en {download_time:.2f}s\n")

# Cr√©er une connexion DuckDB persistante
print("üîå Cr√©ation de la base DuckDB...")
con = duckdb.connect('accelerateur-sql.duckdb')
print("‚úì Connect√©!\n")

# Charger les fichiers CSV
print("üìÇ Chargement des donn√©es...")
csv_files = list(Path(dataset_path).glob('*.csv'))
print(f"üìÅ {len(csv_files)} fichiers CSV trouv√©s\n")

total_rows = 0
total_start = time.time()

for idx, csv_file in enumerate(csv_files, 1):
    table_name = csv_file.stem

    print(f"[{idx}/{len(csv_files)}] '{table_name}'...", end=" ", flush=True)

    # Charger directement avec DuckDB
    con.execute(f"""
        CREATE OR REPLACE TABLE {table_name} AS
        SELECT * FROM read_csv_auto('{csv_file}')
    """)

    # Compter les lignes
    row_count = con.execute(f"SELECT COUNT(*) FROM {table_name}").fetchone()[0]
    col_count = len(con.execute(f"SELECT * FROM {table_name} LIMIT 1").description)

    print(f"‚úì ({row_count:,} lignes, {col_count} colonnes)")
    total_rows += row_count

total_time = time.time() - total_start

print("\n" + "=" * 60)
print(f"‚úì COMPLET!")
print(f"  ‚Ä¢ Tables cr√©√©es: {len(csv_files)}")
print(f"  ‚Ä¢ Lignes totales: {total_rows:,}")
print(f"  ‚Ä¢ Temps total: {total_time:.2f}s")
print("=" * 60)

üì• T√©l√©chargement du dataset Kaggle...
Using Colab cache for faster access to the 'cleaned-contoso-dataset' dataset.
‚úì Dataset t√©l√©charg√© en 3.06s

üîå Cr√©ation de la base DuckDB...
‚úì Connect√©!

üìÇ Chargement des donn√©es...
üìÅ 25 fichiers CSV trouv√©s

[1/25] 'FactSalesQuota'...

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

‚úì (7,465,911 lignes, 10 colonnes)
[2/25] 'DimProductSubcategory'... ‚úì (44 lignes, 3 colonnes)
[3/25] 'DimAccount'... ‚úì (24 lignes, 6 colonnes)
[4/25] 'FactITSLA'... ‚úì (4,925 lignes, 8 colonnes)
[5/25] 'DimMachine'... ‚úì (7,816 lignes, 14 colonnes)
[6/25] 'FactOnlineSales'...

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

‚úì (12,627,608 lignes, 18 colonnes)
[7/25] 'DimScenario'... ‚úì (3 lignes, 2 colonnes)
[8/25] 'DimEmployee'... ‚úì (293 lignes, 21 colonnes)
[9/25] 'DimProductCategory'... ‚úì (8 lignes, 2 colonnes)
[10/25] 'DimStore'... ‚úì (306 lignes, 16 colonnes)
[11/25] 'DimPromotion'... ‚úì (28 lignes, 5 colonnes)
[12/25] 'DimOutage'... ‚úì (303 lignes, 5 colonnes)
[13/25] 'DimEntity'... ‚úì (421 lignes, 8 colonnes)
[14/25] 'DimCustomer'... ‚úì (18,869 lignes, 15 colonnes)
[15/25] 'FactStrategyPlan'... ‚úì (2,750,628 lignes, 8 colonnes)
[16/25] 'DimSalesTerritory'... ‚úì (265 lignes, 10 colonnes)
[17/25] 'DimGeography'... ‚úì (674 lignes, 6 colonnes)
[18/25] 'FactSales'...

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

‚úì (3,406,089 lignes, 16 colonnes)
[19/25] 'DimProduct'... ‚úì (2,233 lignes, 22 colonnes)
[20/25] 'FactInventory'...

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

‚úì (8,013,099 lignes, 13 colonnes)
[21/25] 'FactExchangeRate'... ‚úì (773 lignes, 5 colonnes)
[22/25] 'DimCurrency'... ‚úì (28 lignes, 3 colonnes)
[23/25] 'DimDate'... ‚úì (2,556 lignes, 20 colonnes)
[24/25] 'DimChannel'... ‚úì (4 lignes, 3 colonnes)
[25/25] 'FactITMachine'... ‚úì (23,283 lignes, 5 colonnes)

============================================================
‚úì COMPLET!
  ‚Ä¢ Tables cr√©√©es: 25
  ‚Ä¢ Lignes totales: 34,326,191
  ‚Ä¢ Temps total: 45.21s
============================================================

In [5]:
%%sql con

In [6]:
%%sql

SELECT * FROM FactOnlineSales
LIMIT 5

Running query in 'DuckDBPyConnection'

,OnlineSalesKey,DateKey,StoreKey,ProductKey,PromotionKey,CurrencyKey,CustomerKey,SalesOrderNumber,SalesOrderLineNumber,SalesQuantity,SalesAmount,ReturnQuantity,ReturnAmount,DiscountQuantity,DiscountAmount,TotalCost,UnitCost,UnitPrice
0,19560484,2007-01-01,306,782,10,1,333,20070101311332,1,1,10.36,0,0.00,1,2.59,6.60,6.60,12.95
1,19560485,2007-01-01,306,782,10,1,334,20070101311333,1,1,10.36,0,0.00,1,2.59,6.60,6.60,12.95
2,19560486,2007-01-01,306,782,10,1,335,20070101311334,1,1,10.36,0,0.00,1,2.59,6.60,6.60,12.95
3,19560487,2007-01-01,306,782,10,1,336,20070101311335,1,1,10.36,0,0.00,1,2.59,6.60,6.60,12.95
4,19560488,2007-01-01,306,782,10,1,337,20070101311336,1,1,10.36,0,0.00,1,2.59,6.60,6.60,12.95

In [8]:
%%sql
-- Premi√®re piste: segmenter par volume de commandes

-- calculer le nb de commandes par client

WITH online_sales_count_per_customer AS
  (SELECT
    CustomerKey,
    COUNT(DISTINCT OnlineSalesKey) AS online_sales_count
  FROM FactOnlineSales
  GROUP BY CustomerKey)

-- calculer le nb de clients par nb de commandes

SELECT
  online_sales_count,
  COUNT(DISTINCT CustomerKey) AS customer_count
FROM online_sales_count_per_customer
GROUP BY online_sales_count
ORDER BY online_sales_count

Running query in 'DuckDBPyConnection'

     online_sales_count  customer_count
0                    69               1
1                    70               3
2                    72               3
3                    73               5
4                    74               9
..                  ...             ...
382               66719               1
383               66737               1
384               66745               1
385               66807               1
386               66945               1

[387 rows x 2 columns]

In [9]:
%%sql
-- segmenter par panier moyen

-- calculer le panier moyen par client
WITH avg_sales_amount_per_customer AS
(SELECT
  CustomerKey,
  AVG(SalesAmount) AS avg_sales_amount
FROM FactOnlineSales
GROUP BY CustomerKey)

-- seuils
-- >= 300: gros
-- >=200= interm√©diaire
-- petit

SELECT
  CASE
    WHEN avg_sales_amount >= 300 THEN '1. High'
    WHEN avg_sales_amount >= 200 THEN '2. Medium'
    ELSE '3. Low'
  END AS customer_segment,
  COUNT(CustomerKey) AS customer_count
FROM avg_sales_amount_per_customer
GROUP BY customer_segment
ORDER BY customer_segment

Running query in 'DuckDBPyConnection'

  customer_segment  customer_count
0          1. High            8451
1        2. Medium            5026
2           3. Low            5392

In [10]:
%%sql
SELECT * FROM FactSales
LIMIT 5

Running query in 'DuckDBPyConnection'

,SalesKey,DateKey,channelKey,StoreKey,ProductKey,PromotionKey,CurrencyKey,UnitCost,UnitPrice,SalesQuantity,ReturnQuantity,ReturnAmount,DiscountQuantity,DiscountAmount,TotalCost,SalesAmount
0,1,2007-01-02,1,209,956,10,1,91.05,198.00,8,0,0.00,1,39.60,728.40,1544.40
1,2,2007-02-12,4,308,766,2,1,10.15,19.90,4,0,0.00,1,0.99,40.60,78.61
2,3,2008-01-24,1,156,1175,11,1,209.03,410.00,9,0,0.00,3,61.50,1881.27,3628.50
3,4,2008-01-13,2,306,1429,10,1,132.90,289.00,8,0,0.00,1,57.80,1063.20,2254.20
4,5,2008-01-22,2,306,1133,10,1,144.52,436.20,24,0,0.00,3,261.72,3468.48,10207.08

In [11]:
%%sql
-- le pourcentage de chaque vente par rapport au CA global

SELECT
  StoreKey,
  SalesAmount,
  SUM(SalesAmount) OVER () AS total_sales_amount,
  (SalesAmount / SUM(SalesAmount) OVER ()) * 100 AS sales_percentage
FROM FactSales

Running query in 'DuckDBPyConnection'

         StoreKey  SalesAmount  total_sales_amount  sales_percentage
0             209      1544.40      12413657608.84              0.00
1             308        78.61      12413657608.84              0.00
2             156      3628.50      12413657608.84              0.00
3             306      2254.20      12413657608.84              0.00
4             306     10207.08      12413657608.84              0.00
...           ...          ...                 ...               ...
3406084       121         4.75      12413657608.84              0.00
3406085        89     11976.00      12413657608.84              0.00
3406086       307       849.83      12413657608.84              0.00
3406087        55     20310.75      12413657608.84              0.00
3406088        31      1226.40      12413657608.84              0.00

[3406089 rows x 4 columns]

In [12]:
%%sql
-- le pourcentage de chaque vente par rapport au CA du magasin

SELECT
  StoreKey,
  SalesAmount,
  SUM(SalesAmount) OVER (PARTITION BY StoreKey) AS store_sales_amount,
  (SalesAmount / SUM(SalesAmount) OVER (PARTITION BY StoreKey)) * 100 AS sales_percentage
FROM FactSales

Running query in 'DuckDBPyConnection'

         StoreKey  SalesAmount  store_sales_amount  sales_percentage
0               6       600.00         22903891.26              0.00
1               6       217.00         22903891.26              0.00
2               6       310.00         22903891.26              0.00
3               6      3509.88         22903891.26              0.02
4               6      1960.00         22903891.26              0.01
...           ...          ...                 ...               ...
3406084       307      3492.80        887049174.43              0.00
3406085       307      7459.90        887049174.43              0.00
3406086       307       384.00        887049174.43              0.00
3406087       307      7427.60        887049174.43              0.00
3406088       307       849.83        887049174.43              0.00

[3406089 rows x 4 columns]

In [13]:
%%sql
-- r√©compenser les meilleurs vendeurs par magasin
-- 3 meilleures ventes par magasin
WITH sales_rank AS
(
SELECT
  StoreKey,
  SalesAmount,
  ROW_NUMBER() OVER (PARTITION BY StoreKey ORDER BY SalesAmount DESC) AS sales_rank
FROM FactSales
ORDER BY StoreKey, sales_rank
)


SELECT
  StoreKey,
  SalesAmount,
  sales_rank
FROM sales_rank
WHERE sales_rank <= 3
ORDER BY StoreKey, sales_rank

Running query in 'DuckDBPyConnection'

     StoreKey  SalesAmount  sales_rank
0           1     41599.87           1
1           1     40959.87           2
2           1     40319.87           3
3           2     40319.87           1
4           2     38792.24           2
..        ...          ...         ...
913       309    119952.00           2
914       309    114750.00           3
915       310    128073.75           1
916       310    127999.60           2
917       310    122879.62           3

[918 rows x 3 columns]

In [14]:
%%sql
SELECT
  StoreKey,
  SalesAmount,
  ROW_NUMBER() OVER (PARTITION BY StoreKey ORDER BY SalesAmount DESC) AS sales_rank
FROM FactSales
QUALIFY ROW_NUMBER() OVER (PARTITION BY StoreKey ORDER BY SalesAmount DESC) <= 3
ORDER BY StoreKey, sales_rank

Running query in 'DuckDBPyConnection'

     StoreKey  SalesAmount  sales_rank
0           1     41599.87           1
1           1     40959.87           2
2           1     40319.87           3
3           2     40319.87           1
4           2     38792.24           2
..        ...          ...         ...
913       309    119952.00           2
914       309    114750.00           3
915       310    128073.75           1
916       310    127999.60           2
917       310    122879.62           3

[918 rows x 3 columns]